@import "../scss/partials/mixin";

@include titulos();


.navbar{
    position: sticky;
    top: 0;
}
.cabecera {
    width: 100%;
    height: 450px;
    background-image: url("../img/hurones-oscuros.jpg");
    background-position: 0;
    background-size: cover;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    font-size: 2rem;
    
}

.footer {
    background-image: var(--bs-gradient);
}
.carousel-inner{
    height: 700px;
    padding: 30px 20px;
    
    
}
.fondo {
    background-image: radial-gradient( circle 321px at 8.3% 75.7%,  rgba(209,247,241,1) 0%, rgba(249,213,213,1) 81% );
}
.navbar-brand{
    background-image: linear-gradient( 73.2deg,  rgba(248,205,205,1) 23.2%, rgba(149,170,211,1) 77% );
    border-radius: 10px;
}

#pie-pagina{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,229,168,1) 0%, rgba(251,174,222,1) 100.7% );
}

.hurbebe{
    background-position: 10% 50%;
}

