@mixin titulos(){

    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 1.7rem;
    }
    h3{
        font-size: 1.7rem;
    }
    h4{
        font-size: 1.7rem;
    }
    h5{
        font-size: 1.7rem;
    }
}